<!--
  Record Home Page Header
  https://www.lightningdesignsystem.com/components/page-headers/#Record-Home
  Modifier:
  - layout: slds-m-bottom_small (to add margin spacing on header bottom)
-->
<div class="slds-page-header slds-page-header_record-home slds-m-bottom_small">
  <div class="slds-page-header__row">
    <div class="slds-page-header__col-title">
      <div class="slds-media">
        <div class="slds-media__figure">
          <span class="slds-icon_container slds-icon-standard-opportunity">
            <svg class="slds-icon slds-page-header__icon" aria-hidden="true">
              <!-- <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#opportunity"></use> -->
            </svg>
          </span>
        </div>
        <div class="slds-media__body">
          <div class="slds-page-header__name">
            <div class="slds-page-header__name-title">
              <h1>
                <span>Green-Energy portal</span>
                <span class="slds-page-header__title slds-truncate" title="Dashboard">Dashboard</span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>

</div>
