<!--
  Record Home Page Header
  https://www.lightningdesignsystem.com/components/page-headers/#Record-Home
  Modifier:
  - layout: slds-m-bottom_small (to add margin spacing on header bottom)
-->

<!-- TOP  -->
<div class="slds-page-header slds-page-header_record-home slds-m-bottom_small">
  <div class="slds-page-header__row">
    <div class="slds-page-header__col-title">
      <div class="slds-media">
        <div class="slds-media__figure">
          <span class="slds-icon_container slds-icon-standard-opportunity">
            <svg class="slds-icon slds-page-header__icon" aria-hidden="true">
              <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#search"></use>
            </svg>
          </span>
        </div>
        <div class="slds-media__body">
          <div class="slds-page-header__name">
            <div class="slds-page-header__name-title">
              <h1>
                <span>Document archive</span>
                <span class="slds-page-header__title slds-truncate" title="Mr Adam Lowry">Search document
                  repository</span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slds-page-header__col-actions">
      <div class="slds-page-header__controls">
        <div class="slds-page-header__control">
          <button class="slds-button slds-button_neutral slds-button_stateful slds-not-selected" aria-live="assertive"
            aria-pressed="false">
            <span class="slds-text-not-selected">
              <svg class="slds-button__icon slds-button__icon_small slds-button__icon_left" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
              </svg>Favourite</span>
            <span class="slds-text-selected">
              <svg class="slds-button__icon slds-button__icon_small slds-button__icon_left" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
              </svg>Following</span>
            <span class="slds-text-selected-focus">
              <svg class="slds-button__icon slds-button__icon_small slds-button__icon_left" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
              </svg>Unfollow</span>
          </button>
        </div>
        <!-- <div class="slds-page-header__control">
          <ul class="slds-button-group-list">
            <li>
              <button class="slds-button slds-button_neutral">Edit</button>
            </li>
            <li>
              <button class="slds-button slds-button_neutral">Delete</button>
            </li>
            <li>
              <button class="slds-button slds-button_neutral">Clone</button>
            </li>
            <li>
              <div class="slds-dropdown-trigger slds-dropdown-trigger_click">
                <button class="slds-button slds-button_icon slds-button_icon-border-filled" aria-haspopup="true"
                  title="More Actions">
                  <svg class="slds-button__icon" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                  </svg>
                  <span class="slds-assistive-text">More Actions</span>
                </button>
              </div>
            </li>
          </ul>
        </div> -->
      </div>
    </div>
  </div>
  <div class="slds-page-header__row">
    <div class="slds-page-header__col-meta">
      <p class="slds-page-header__meta-text">1034 items • Updated 13 minutes ago</p>
    </div>
    <div class="slds-page-header__col-controls">
      <div class="slds-page-header__controls">
        <div class="slds-page-header__control">
          <div class="slds-dropdown-trigger slds-dropdown-trigger_click">
            <button class="slds-button slds-button_icon slds-button_icon-more" aria-haspopup="true"
              aria-expanded="false" title="List View Controls">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#settings"></use>
              </svg>
              <svg class="slds-button__icon slds-button__icon_x-small" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
              </svg>
              <span class="slds-assistive-text">List View Controls</span>
            </button>
          </div>
        </div>
        <div class="slds-page-header__control">
          <div class="slds-dropdown-trigger slds-dropdown-trigger_click">
            <button class="slds-button slds-button_icon slds-button_icon-more" aria-haspopup="true"
              aria-expanded="false" title="Change view">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#table"></use>
              </svg>
              <svg class="slds-button__icon slds-button__icon_x-small" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
              </svg>
              <span class="slds-assistive-text">Change view</span>
            </button>
          </div>
        </div>

        <div class="slds-page-header__control">
          <button class="slds-button slds-button_icon slds-button_icon-border-filled" title="Refresh List">
            <svg class="slds-button__icon" aria-hidden="true">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#refresh"></use>
            </svg>
            <span class="slds-assistive-text">Refresh List</span>
          </button>
        </div>
        <div class="slds-page-header__control">
          <ul class="slds-button-group-list">
            <li>
              <button class="slds-button slds-button_icon slds-button_icon-border-filled" title="Filters">
                <svg class="slds-button__icon" aria-hidden="true">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#filterList"></use>
                </svg>
                <span class="slds-assistive-text">Filters</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="slds-page-header__row slds-page-header__row_gutters slds-page-header__detail-row">
    <div class="slds-page-header__col-details">

      <div class="slds-form" role="list">
        <div class="slds-form__row">
          <div class="slds-form__item" role="listitem">
            <div class="slds-form-element slds-form-element_horizontal xslds-has-error slds-is-editing">
              <label class="slds-form-element__label" for="horizontal-form-element-id-02">
                <abbr class="slds-required" title="required">* </abbr>Service address</label>
              <div class="slds-form-element__control">
                <input type="text" id="horizontal-form-element-id-02" class="slds-input" value="" />
              </div>
              <!-- <div class="slds-form-element__help" id="horizontal-form-element-error-id-01">Complete this field</div> -->
            </div>
          </div>
          <div class="slds-form__item" role="listitem">
            <div class="slds-form-element slds-form-element_horizontal slds-is-editing">
              <label class="slds-form-element__label" for="horizontal-combobox-id-01" id="combobox-label-id-16">Billing
                cycle</label>
              <div class="slds-form-element__control">
                <div class="slds-combobox_container">
                  <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click">
                    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                      <input type="text" class="slds-input slds-combobox__input slds-combobox__input-value"
                        id="horizontal-combobox-id-01" aria-autocomplete="list" aria-controls="horizontal-listbox-id-01"
                        aria-expanded="false" aria-haspopup="listbox" autoComplete="off" role="combobox"
                        placeholder="Search..." value="Cycle1" />
                      <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right"
                        title="Clear the text input">
                        <svg class="slds-button__icon" aria-hidden="true">
                          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#clear"></use>
                        </svg>
                        <span class="slds-assistive-text">Clear the text input</span>
                      </button>
                    </div>
                    <div id="horizontal-listbox-id-01"
                      class="slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid" role="listbox">
                      <ul class="slds-listbox slds-listbox_vertical" role="presentation"></ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slds-form__row">
          <div class="slds-form__item" role="listitem">
            <div class="slds-form-element slds-form-element_horizontal xslds-has-error slds-is-editing">
              <label class="slds-form-element__label" for="horizontal-form-element-id-02">
                <abbr class="slds-required" title="required">* </abbr>Account number</label>
              <div class="slds-form-element__control">
                <input type="text" id="horizontal-form-element-id-02" class="slds-input" value="" />
              </div>
              <!-- <div class="slds-form-element__help" id="horizontal-form-element-error-id-01">Complete this field</div> -->
            </div>
          </div>
          <div class="slds-form__item" role="listitem">
            <div
              class="slds-form-element slds-form-element_horizontal slds-is-editing slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open">
              <label class="slds-form-element__label" for="horizontal-form-element-id-03">Date range</label>
              <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
                <input type="text" id="horizontal-form-element-id-03" class="slds-input" value="1/1/2018" />
                <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right"
                  title="Select a date">
                  <svg class="slds-button__icon" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#event"></use>
                  </svg>
                  <span class="slds-assistive-text">Select a date</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="slds-form__row">
          <div class="slds-form__item" role="listitem">
            <div class="slds-form-element slds-form-element_horizontal xslds-has-error slds-is-editing">
              <label class="slds-form-element__label" for="horizontal-form-element-id-02">
                <abbr class="slds-required" title="required">* </abbr>Customer name</label>
              <div class="slds-form-element__control">
                <input type="text" id="horizontal-form-element-id-02" class="slds-input" value="" />
              </div>
              <!-- <div class="slds-form-element__help" id="horizontal-form-element-error-id-01">Complete this field</div> -->
            </div>
          </div>
          <div class="slds-form__item" role="listitem">
            <div
              class="slds-form-element slds-form-element_horizontal slds-is-editing slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open">
              <label class="slds-form-element__label" for="horizontal-form-element-id-03">NMI</label>
              <div class="slds-form-element__control ">
                <input type="text" id="horizontal-form-element-id-03" class="slds-input" value="823874058382" />

              </div>
            </div>
          </div>
        </div>
        <!-- <div class="slds-form__row">
          <div class="slds-form__item" role="listitem">
            <div class="slds-form-element slds-form-element_horizontal slds-is-editing slds-form-element_1-col">
              <label class="slds-form-element__label" for="horizontal-form-element-id-14">Description</label>
              <div class="slds-form-element__control">
                <textarea id="horizontal-form-element-id-14" placeholder="Placeholder text…"
                  class="slds-textarea">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod.</textarea>
              </div>
            </div>
          </div>
        </div> -->
      </div>

      <!-- <ul class="slds-page-header__detail-row">
        <li class="slds-page-header__detail-block">
          <div class="slds-text-title slds-truncate" title="Account number">Account number</div>
          <div class="slds-truncate" title="Description that demonstrates truncation with a long text field.">
            0982374029384-1</div>
          <br>
          <div class="slds-text-title slds-truncate" title="Account type">Account type</div>
          <div class="slds-truncate" title="Description that demonstrates truncation with a long text field.">
            Super saver</div>
        </li>
        <li class="slds-page-header__detail-block">
          <div class="slds-text-title slds-truncate" title="Field 2 (3)">Field 2 (3)
            <div class="slds-dropdown-trigger slds-dropdown-trigger_click">
              <button class="slds-button slds-button_icon slds-button_icon" aria-haspopup="true" title="More Actions">
                <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                </svg>
                <span class="slds-assistive-text">More Actions</span>
              </button>
            </div>
          </div>
          <div class="slds-truncate" title="Multiple Values">Multiple Values</div>
        </li>
        <li class="slds-page-header__detail-block">
          <div class="slds-text-title slds-truncate" title="Field 3">Field 3</div>
          <div class="slds-truncate" title="Hyperlink">
            <a href="#">Hyperlink</a>
          </div>
        </li>
        <li class="slds-page-header__detail-block">
          <div class="slds-text-title slds-truncate" title="Field 4">Field 4</div>
          <div class="slds-truncate" title="Description (2-line truncation—must use JS to truncate).">Description
            (2-line truncati...</div>
        </li>
      </ul> -->
      <!-- <ul class="slds-page-header__detail-row">
        <li class="slds-page-header__detail-block">
          <div class="slds-text-title slds-truncate" title="Field 1">Account type</div>
          <div class="slds-truncate" title="Description that demonstrates truncation with a long text field.">
            Super saver</div>
        </li>
        <li class="slds-page-header__detail-block">
          <div class="slds-text-title slds-truncate" title="Field 2 (3)">Field 2 (3)
            <div class="slds-dropdown-trigger slds-dropdown-trigger_click">
              <button class="slds-button slds-button_icon slds-button_icon" aria-haspopup="true" title="More Actions">
                <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                </svg>
                <span class="slds-assistive-text">More Actions</span>
              </button>
            </div>
          </div>
          <div class="slds-truncate" title="Multiple Values">Multiple Values</div>
        </li>
        <li class="slds-page-header__detail-block">
          <div class="slds-text-title slds-truncate" title="Field 3">Field 3</div>
          <div class="slds-truncate" title="Hyperlink">
            <a href="#">Hyperlink</a>
          </div>
        </li>
        <li class="slds-page-header__detail-block">
          <div class="slds-text-title slds-truncate" title="Field 4">Field 4</div>
          <div class="slds-truncate" title="Description (2-line truncation—must use JS to truncate).">Description
            (2-line truncati...</div>
        </li>
      </ul> -->
    </div>
  </div>

</div>
<!-- END TOP -->